data
logs
notebooks/.ipynb_checkpoints/
smartenergy/network/grid.py
smartenergy/network/installation/installation_grid.py
smartenergy/visualization
node_modules/
package-lock.json
.pytest_cache
.eggs
smartenergy.egg-info
.DS_Store
*.swp
*.pyc
*.xml
*.js
*.json
